
#progressbar {
  margin-bottom: 3vh;
  overflow: hidden;
  color: rgb(23, 241, 88);
  padding-left: 0px;
  margin-top: 3vh;
}

#progressbar li {
  list-style-type: none;
  font-size: 0.8rem;
  width: 25%;
  margin: auto;
  float: left;
  position: relative;
  font-weight: 400;
  color: black;
}

#applied #progressbar li {
  list-style-type: none;
  font-size: 0.8rem;
  width: 20%;
  margin: auto;
  float: left;
  position: relative;
  font-weight: 400;
  color: black;
}

#progressbar #step1:before {
  content: "";
  color: white;
  width: 20px;
  height: 20px;
  margin-left: 0px !important;
}

#progressbar #step2:before {
  content: "";
  color: #fff;
  width: 20px;
  height: 20px;
  margin-left: 32%;
}

#progressbar #step3:before {
  content: "";
  color: #fff;
  width: 20px;
  height: 20px;
  margin-right: 32%;
}

#progressbar #step4:before {
  content: "";
  color: rgba(151, 149, 149, 0.651);
  width: 20px;
  height: 20px;
  margin-right: 0px !important;
}

#progressbar li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #e7e7f1;
  border-radius: 50%;
  margin: auto;
  z-index: -1;
  margin-bottom: 1vh;
}

#progressbar li:after {
  content: '';
  height: 3px;
  background: #e7e7f1;
  position: absolute;
  left: 0%;
  right: 0%;
  margin-bottom: 2vh;
  top: 8px;
  z-index: 1;
}

/*.progress-track {
  padding: 0 8%;
}
*/
#progressbar li:nth-child(2):after {
  margin-right: auto;
}

#progressbar li:nth-child(1):after {
  margin: auto;
}

#progressbar li:nth-child(3):after {
  float: left;
  width: 68%;
}

#progressbar li:nth-child(4):after {
  margin-left: auto;
  width: 132%;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #47b749;
}

#three {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  #three {
    font-size: 1rem;
  }
}
#one {
  justify-content: center;
  background-color: purple;
  border-radius: 20px;
  width: 100%; /* Use 100% instead of 100==px */
}

.jobs_status_date{
  /*margin-left: 10px;*/
  color: #666;
}

.jobs_status_text{
  /*margin-left: 10px;*/
font-weight: bold;
color:#121224;}


